<% if @product %>
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
  <p>Price: <%= number_to_currency(@product.price) %></p>
  <% if @product.image.attached? %>
    <%= image_tag rails_blob_path(@product.image, only_path: true), height: '100' %>
  <% end %>
<% else %>
  <p>Product not found</p>
<% end %>