$primary-color: #36533e;
$secondary-color: #ffffff;
$background-color: #dedede;
$text-color: #343a40;

$font-size-base: 16px;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
$font-family: inter;
$font-weight: normal;

$spacing-unit: 16px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
