@import "variables";

// Global styles
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 100px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  color: white;
  background-color: $primary-color;
  border: none;
}

h1 {
  text-align: center;
}

// Header styles
header {
  background-color: $primary-color;
  color: white;
  padding: $spacing-unit 0;
  font-size: $font-size-base;
  font-weight: $font-weight;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Navigation styles
  nav {
    padding: $spacing-unit 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-nav-list {
      padding-left: 25px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          padding-right: 10px;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    .Logo {
      font-size: 25px;
      padding-right: 30px;

      h1 {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: $secondary-color;
      }
    }

    .header-nav-user-items {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      padding-right: 25px;

      button,
      a {
        margin: 0;
        display: flex;
        align-items: center;
        font-family: $font-family;
      }

      button {
        padding: 0;
        background-color: $primary-color;
        color: white;
        border: none;
        font-size: $font-size-base;
        font-weight: normal;
        cursor: pointer;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: $font-size-base;
        font-weight: normal;
      }
    }
  }
}

// Order Info styles
#user-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .field {
      margin-bottom: 10px;
    }

    .field-login-option {
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 13px;
      gap: 6px;
      padding-left: 8px;

      p {
        margin: 0;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
      @extend .form-control;
    }

    input[type="submit"] {
      color: $secondary-color;
      background-color: #36533eb3;
      font-size: 16px;
      border: none;
      padding: 10px 15px;
      margin: 10px 0;
      border-radius: 20px;

      &:hover {
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

// Index Styles

// Search form styles
.search-form {
  text-align: center;
  margin-bottom: 20px;

  select,
  input[type="text"],
  input[type="submit"] {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: #36533eb3;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}

// Product styles
#products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products-list > div {
  width: 350px;
  height: 350px;
  margin: 20px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#products-list h2 {
  font-size: $font-size-lg;
}

#products-list h2 a {
  color: $text-color;
  text-decoration: none;
}

#products-list image {
  height: 100px;
}

#products-list button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-color: #36533eb3;
  color: $secondary-color;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 50px 0;
  padding: 5px 10px;
  text-decoration: none;

  a {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    background-color: #36533eb3;
    text-decoration: none;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}

// Order Info styles
#order-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#order-info h1 {
  text-align: center;
  margin-bottom: 20px;
}

#order-info table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#order-info th,
#order-info td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#order-info th {
  background-color: #f2f2f2;
  color: #333;
}

#order-info .btn {
  padding: 10px 20px;
  background-color: #36533eb3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

#order-info .form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}

#order-info a {
  color: #ffffff;
  text-decoration: none;
}

// Cart specific styles

.removeButton {
  background-color: rgb(178, 104, 104);
}

.removeButton:hover {
  background-color: rgba(178, 104, 104, 0.403);
}

.proceedButton {
  background-color: #36533eb3;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  color: white;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

#order-info form input[type="submit"].continueButton {
  background-color: #36533eb3;
  font-size: $font-size-base;
}

#order-info form input[type="submit"] {
  color: white;
  background-color: #829ea8;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;

  &:hover {
    background-color: #6c8c99;
    cursor: pointer;
  }
}

#order-info form {
  display: flex;
  flex-direction: column;

  input[type="text"],
  select {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid $primary-color;
    font-size: 16px;
  }
}

#order-info input[type="text"],
select {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid $primary-color;
  font-size: 16px;
}

#order-info .cart-update {
  width: auto;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    width: auto;
    border: none;
    height: 15px;
    padding: 10px 15px;
    text-align: center;
  }
}

// Product Show
.product-details {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 150px auto;
}

.product-image,
.product-info {
  flex: 1;
}

.product-info {
  max-width: 600px;
  padding: 0 20px;
  margin: auto;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info h2,
.product-info p {
  margin: 0;
}

.product-info p {
  margin-bottom: 10px;
}

.product-info button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: #36533eb3;
  color: $secondary-color;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

// Footer styles
footer {
  background-color: $primary-color;
  color: white;
  padding: $spacing-unit 0;
  text-align: center;
  margin-top: auto;
}
